#main{
  font-family: arial;
  background-color: #ccc;
}

li{
  list-style-type: none;
}

label{
  font-weight: bold;
}

.event_title{
  height: 25px;
  width: 300px;
  font-size: 17px;
  border-radius: 4px;
}

textarea{
  height: 60px;
  width: 297px;
  font-size: 17px;
  border-radius: 6px;
}

.submit{
  padding: 6px;
  font-size: 14px;
}

.event{
  width: 400px;
  border: 1px solid #000;
  border-bottom: none;
}

.title{
  font-weight: bold;
  margin: 0 0 0 3px;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

.desc{
  margin: 0 0 0 6px;
}


.create{
  width: 150px;
  text-decoration: underline;
}

.create:hover{
  cursor: pointer;
  font-weight: bold;
}
